server:
  port: 8083

spring:
  application:
    name: sales-service

  main:
    web-application-type: reactive

  r2dbc:
    url: ${SPRING_R2DBC_URL}
    username: ${SPRING_R2DBC_USERNAME}
    password: ${SPRING_R2DBC_PASSWORD}
    pool:
      enabled: true
      initial-size: 5
      max-size: 20
      max-idle-time: 30s

  jackson:
    serialization:
      indent_output: true

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    com.arka.ecommerce.msmovement: DEBUG

