server:
  port: 8084

spring:
  application:
    name: msmovement

  main:
    web-application-type: reactive

  r2dbc:
    url: ${SPRING_R2DBC_URL}
    username: ${SPRING_R2DBC_USERNAME}
    password: ${SPRING_R2DBC_PASSWORD}
    pool:
      enabled: true
      initial-size: 5
      max-size: 20
      max-idle-time: 30s

  jackson:
    serialization:
      indent_output: true

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    com.arka.ecommerce.msmovement: DEBUG

# URLs de otros microservicios (solo para referencia local)
services:
  inventory:   
    url: http://msinventory:8082/api/v1/inventory
  sales:
    url: http://mssales:8083/api/v1/sales
  order:
    url: http://msorder:8082/api/v1/orders

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
